@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron container-fluid row">
        <div class="col-md-8">
            <h1>Welcome to Dattu</h1>
            <h2>The movie recommender Yeti</h2>
            <p><i>Time to feed him data to help you find all the answers!</i></p>
            
        </div>

        <div class="col-md-4">
            <img src="~/Content/img/dattuFace.png" alt="Dattu_face" class="img-thumbnail" />
        </div>
    </div>

<div class="row">
    <div class="col-md-9">
        <h2>
            Dattu loves Data!
        </h2>
        <p>
          Dattu is here to help you give insight in the MovieLens20m Database. There is one little problem, Dattu hungers for data. The more data Dattu consumes the slower he tends to eat.  <br />
        </p>
        <p>
           Be carefull not to feed him too much. He might get angry or work slower for you. 
        </p>
        
    </div>
    <div class="col-md-3">
        <h2>Database information</h2>
        <p>This database consists of </p>
        <ul>
            <li>
                27278 amount of Movies
            </li>

            <li>
                26744 amount of Users
            </li>
            <li>
                20000259 amount of Ratings
            </li>
            <li>
                1342 amount of Genres
            </li>
        </ul>
    </div>
</div>